@{
    ViewData["Title"] = "Home Page";
}

<section class="login-area">

    <div class="login">
        <h1 class="tittle"> Halph.Ink</h1>
        <div>
            <img src="../img/user.png">
        </div>

        <form>
            <input type="text" name="email" placeholder="Email do usuário">
            <input type="password" name="senha" placeholder="Senha do usuário">

            

            <a class="enter" href="client.html"><input class="submits" type="button" value="Acessar como Cliente"></a>
            <a class="enter" href="adm.html"><input class="submits" type="button" value="Acessar como Administrador"></a>
            <a class="enter" href="design.html"><input class="submits" type="button" value="Acessar como Design"></a>
        </form>
        <p>Ainda não tem uma conta? <a class="create-acount" href="#">Criar conta</a></p>
    </div>
</section>
